.add-handbook-body{
    padding : 5rem;
    text-align: left;
    color: black;
}

.form-title{
    text-align: center;
    margin-bottom: 5rem;
    color : black;
}

.form-group .input-style::-webkit-input-placeholder{
    font-style: italic;
    font-size: 12px;
}

.form-group .invalid-feedback{
    margin-left: 0rem;
}

.form-group .valid-feedback{
    margin-left: 0rem;
}

.add-handbook-body .valid-feedback{
    margin-left : 0rem !important;
}

.add-handbook-body .invalid-feedback{
    margin-left : 0rem !important;
}

.cancel-button{
    margin-right : 1rem !important;
}
.cancel-button{
    margin-right : 1rem !important;
}
